# COVID-19: United States Confirmed Cases & Deaths

The following data cleaning and merging is performed to load the data into Power BI for further visualization and analysis.

In [53]:
# Packages / libraries
import os 
import numpy as np 
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

The data collected for this analysis is operated by the Johns Hopkins University Center for Systems Science and Engineering (https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series)

In [54]:
# load raw data from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series
confirmed = pd.read_csv("C:/Users/garcr/Desktop/time_series_covid19_confirmed_US.csv")
deaths = pd.read_csv("C:/Users/garcr/Desktop/time_series_covid19_deaths_US.csv")

# Confirm that the dataframes have the same number of rows (countries) and columns (dates)
# Deaths dataframe has an extra column 'Population'
print('The shape of confirmed is:', confirmed.shape)
print('The shape of deaths is:', deaths.shape)

confirmed.head()
#deaths.head()

The shape of confirmed is: (3340, 241)
The shape of deaths is: (3340, 242)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20,9/5/20,9/6/20,9/7/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1309,1345,1348,1354,1345,1349,1355,1371,1377,1383
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4307,4402,4422,4445,4458,4495,4513,4542,4569,4586
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,624,628,628,629,617,614,616,616,616,617
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,523,533,535,538,541,542,545,550,555,557
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,1004,1025,1034,1045,1036,1037,1049,1062,1065,1070

In [55]:
# Drop unnecessary columns
confirmed.drop(['iso2','iso3','code3','FIPS','Combined_Key'], axis=1, inplace=True)
deaths.drop(['iso2','iso3','code3','FIPS','Combined_Key'], axis=1, inplace=True)

#confirmed.head()
#deaths.head()

In [56]:
# melt the date columns into one column
confirmed2 = pd.melt(confirmed, id_vars= ['UID','Admin2','Province_State','Country_Region','Lat','Long_'], var_name=['Date'])
deaths2 = pd.melt(deaths, id_vars= ['UID','Admin2','Province_State','Country_Region','Lat','Long_','Population'], var_name=['Date'])

print('The shape of confirmed is:', confirmed2.shape)
print('The shape of deaths is:', deaths2.shape)

#confirmed2.head()

The shape of confirmed is: (768200, 8)
The shape of deaths is: (768200, 9)

In [57]:
# convert Date column into datetime objects (xxxx-xx-xx)
confirmed2['Date'] = pd.to_datetime(confirmed2['Date'])
deaths2['Date'] = pd.to_datetime(deaths2['Date'])

confirmed2 = confirmed2[confirmed2['Date'] != '2020-09-07']
deaths2 = deaths2[deaths2['Date'] != '2020-09-07']

In [58]:
# Replace column headings with detailed fields
confirmed2.columns = confirmed2.columns.str.replace('value','Confirmed')
confirmed2.columns = confirmed2.columns.str.replace('Admin2','County')
deaths2.columns = deaths2.columns.str.replace('value', 'Deaths')
deaths2.columns = deaths2.columns.str.replace('Admin2','County')

# Investigate NULLs before join
print(confirmed2.isnull().sum())
print(deaths2.isnull().sum())

UID                  0
County            1374
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Date                 0
Confirmed            0
dtype: int64
UID                  0
County            1374
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Population           0
Date                 0
Deaths               0
dtype: int64

The null county values are a result of the District of Columbia, and the 5 inhabited US territories (American Samoa, Guam, Northern Mariana Islands, Puerto Rico, US Virgin Islands) not having counties, in addition to the Grand Princess and Diamond Princess cruise ships. The null county value will be filled with the 'Province_State' name of the corresponding territory or cruise ship.

In [59]:
# Join the dataframes 
covid = confirmed2.merge(deaths2[['UID','Province_State','Country_Region','Date','Deaths','Population']],
                      how='outer',
                      left_on=['UID','Province_State','Country_Region','Date'],
                      right_on=['UID','Province_State','Country_Region','Date'])

# Investigate the shape of the dataframe after the join
print('\nThe shape of confirmed is:', confirmed2.shape)
print('The shape of deaths is:', deaths2.shape)
print('The shape of the joined dataframe is:', covid.shape)

#print(covid.isnull().sum())
#covid.tail()

The shape of confirmed is: (764860, 8)
The shape of deaths is: (764860, 9)
The shape of the joined dataframe is: (764860, 10)

The joined dataframe "covid" has 10 columns because Deaths and Population has been added to the confirmed dataframe.

In [60]:
# Fill County NaN values with Province_State values (Applies only to DC, US territories, and cruise ships)
covid['County'].fillna(covid['Province_State'],inplace=True)

#covid.head()
covid.isnull().sum()

UID               0
County            0
Province_State    0
Country_Region    0
Lat               0
Long_             0
Date              0
Confirmed         0
Deaths            0
Population        0
dtype: int64

In [61]:
# Add Month-Year column
covid['Month-Year'] = covid['Date'].dt.strftime('%b-%Y')
#covid.tail()

In [62]:
# Copy df
temp = covid.copy()

# Create columns for previous date's COVID-19 cases to create daily numbers and a running total 
temp['Temp Date'] = covid['Date'] + pd.Timedelta(days=1)
temp.rename(columns={'Confirmed':'Confirmed - 1', 'Deaths':'Deaths - 1', 'Date':'Date - 1'}, inplace=True)

# Perform left join on DFs
covid_19 = covid.merge(temp[['UID','Province_State','Country_Region','Confirmed - 1','Deaths - 1',
                             'Temp Date','Date - 1']], how='left', 
                       left_on=['UID','Province_State','Country_Region','Date'],
                       right_on=['UID','Province_State','Country_Region','Temp Date'])
print(covid_19.shape)
#covid_19.head()

(764860, 15)

In [63]:
# Calculate the daily numbers for confirmed cases & deaths (current aggregate - previous aggregate = daily confirmed)
covid_19['Daily Confirmed'] = covid_19['Confirmed'] - covid_19['Confirmed - 1']
covid_19['Daily Deaths'] = covid_19['Deaths'] - covid_19['Deaths - 1']

print(covid_19.shape)
#covid_19.head()

(764860, 17)

In [64]:
# Include daily numbers for the first day of data where there is no previous date available (2020-01-22)
covid_19['Daily Confirmed'].loc[covid_19['Date'] == '2020-01-22'] = covid_19['Confirmed']
covid_19['Daily Deaths'].loc[covid_19['Date'] == '2020-01-22'] = covid_19['Deaths']

# Delete unnecessary columns
del covid_19['Confirmed - 1'] 
del covid_19['Deaths - 1']
del covid_19['Temp Date']
del covid_19['Date - 1']

covid_19.head()

,UID,County,Province_State,Country_Region,Lat,Long_,Date,Confirmed,Deaths,Population,Month-Year,Daily Confirmed,Daily Deaths
0,84001001,Autauga,Alabama,US,32.539527,-86.644082,2020-01-22,0,0,55869,Jan-2020,0.0,0.0
1,84001003,Baldwin,Alabama,US,30.727750,-87.722071,2020-01-22,0,0,223234,Jan-2020,0.0,0.0
2,84001005,Barbour,Alabama,US,31.868263,-85.387129,2020-01-22,0,0,24686,Jan-2020,0.0,0.0
3,84001007,Bibb,Alabama,US,32.996421,-87.125115,2020-01-22,0,0,22394,Jan-2020,0.0,0.0
4,84001009,Blount,Alabama,US,33.982109,-86.567906,2020-01-22,0,0,57826,Jan-2020,0.0,0.0

In [65]:
# calculate weekly sum by state (Monday-Sunday)
weekly_covid = covid_19.groupby(['Province_State', covid_19['Date'].dt.strftime('%W')]).agg({'Daily Confirmed':'sum','Daily Deaths':'sum'}).reset_index()

# replace 'Date' with 'Week Number' of the year 
weekly_covid.columns = weekly_covid.columns.str.replace('Date','Week Number')
weekly_covid.columns = weekly_covid.columns.str.replace('Daily Confirmed','Weekly Confirmed')
weekly_covid.columns = weekly_covid.columns.str.replace('Daily Deaths','Weekly Deaths')

# view weekly numbers by state
weekly_covid[weekly_covid['Week Number'] == weekly_covid['Week Number'].max()]

                Province_State Week Number  Weekly Confirmed  Weekly Deaths
32                     Alabama          35            7079.0          114.0
65                      Alaska          35             534.0            5.0
98              American Samoa          35               0.0            0.0
131                    Arizona          35            4106.0          191.0
164                   Arkansas          35            4521.0          110.0
197                 California          35           32905.0          794.0
230                   Colorado          35            2048.0           30.0
263                Connecticut          35             870.0            3.0
296                   Delaware          35             700.0            5.0
329           Diamond Princess          35               0.0            0.0
362       District of Columbia          35             320.0            5.0
395                    Florida          35           24845.0          730.0
428                    Georgia          35           14226.0          433.0
461             Grand Princess          35               0.0            0.0
494                       Guam          35             332.0            4.0
527                     Hawaii          35            1516.0           22.0
560                      Idaho          35            1806.0           26.0
593                   Illinois          35           16457.0          162.0
626                    Indiana          35            6491.0           73.0
659                       Iowa          35            5616.0           54.0
692                     Kansas          35            4069.0           32.0
725                   Kentucky          35            4743.0           67.0
758                  Louisiana          35            5001.0          162.0
791                      Maine          35             169.0            2.0
824                   Maryland          35            4328.0           47.0
857              Massachusetts          35           -5667.0           76.0
890                   Michigan          35            4665.0           58.0
923                  Minnesota          35            5398.0           44.0
956                Mississippi          35            4212.0          143.0
989                   Missouri          35           10018.0          152.0
1022                   Montana          35             924.0           13.0
1055                  Nebraska          35            1840.0           12.0
1088                    Nevada          35            2702.0           87.0
1121             New Hampshire          35             193.0            1.0
1154                New Jersey          35            2447.0           52.0
1187                New Mexico          35             824.0           33.0
1220                  New York          35            5401.0           78.0
1253            North Carolina          35           10774.0          198.0
1286              North Dakota          35            1929.0           14.0
1319  Northern Mariana Islands          35               2.0            0.0
1352                      Ohio          35            8298.0          130.0
1385                  Oklahoma          35            5488.0           54.0
1418                    Oregon          35            1490.0           23.0
1451              Pennsylvania          35            5690.0           92.0
1484               Puerto Rico          35            1685.0           43.0
1517              Rhode Island          35             560.0            9.0
1550            South Carolina          35            6628.0          178.0
1583              South Dakota          35            1787.0            6.0
1616                 Tennessee          35           11011.0          118.0
1649                     Texas          35           28632.0          971.0
1682                      Utah          35            2806.0           15.0
1715                   Vermont          35              32.0            0.0
1748            Virgin Islands          35              52.0            3.0
1781                  Virginia          35            7148.0          109.0
1814                Washington          35            2915.0           48.0
1847             West Virginia          35            1309.0           35.0
1880                 Wisconsin          35            5856.0           46.0
1913                   Wyoming          35             203.0            5.0

In [66]:
# calculate the weekly percentage change in confirmed cases and deaths for each state
weekly_change = weekly_covid.groupby(['Province_State', 'Week Number']).agg({'Weekly Confirmed':'sum','Weekly Deaths':'sum'}).pct_change().reset_index()
weekly_change

     Province_State Week Number  Weekly Confirmed  Weekly Deaths
0           Alabama          03               NaN            NaN
1           Alabama          04               NaN            NaN
2           Alabama          05               NaN            NaN
3           Alabama          06               NaN            NaN
4           Alabama          07               NaN            NaN
...             ...         ...               ...            ...
1909        Wyoming          31         -0.273273            1.0
1910        Wyoming          32         -0.024793            0.0
1911        Wyoming          33          0.237288            2.5
1912        Wyoming          34         -0.140411           -1.0
1913        Wyoming          35         -0.191235            inf

[1914 rows x 4 columns]

In [67]:
# add the weekly percentage change calculated above to the weekly_covid dataframe
weekly_covid[['Weekly Confirmed % Change', 'Weekly Deaths % Change']] = weekly_change[['Weekly Confirmed','Weekly Deaths']]

# replace NaN with 0
weekly_covid.replace(np.nan, 0, inplace=True)

weekly_covid

,Province_State,Week Number,Weekly Confirmed,Weekly Deaths,Weekly Confirmed % Change,Weekly Deaths % Change
0,Alabama,03,0.0,0.0,0.000000,0.0
1,Alabama,04,0.0,0.0,0.000000,0.0
2,Alabama,05,0.0,0.0,0.000000,0.0
3,Alabama,06,0.0,0.0,0.000000,0.0
4,Alabama,07,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...
1909,Wyoming,31,242.0,2.0,-0.273273,1.0
1910,Wyoming,32,236.0,2.0,-0.024793,0.0
1911,Wyoming,33,292.0,7.0,0.237288,2.5
1912,Wyoming,34,251.0,0.0,-0.140411,-1.0
1913,Wyoming,35,203.0,5.0,-0.191235,inf

In [68]:
# check the most recent daily confirmed cases
daily_sum = covid_19.groupby(['Date']).agg({'Daily Confirmed': 'sum'})
print(daily_sum.tail(10))

# check the most recent daily deaths 
daily_deaths = covid_19.groupby(['Date']).agg({'Daily Deaths': 'sum'})
print(daily_deaths.tail(10))

            Daily Confirmed
Date
2020-08-28          46156.0
2020-08-29          47153.0
2020-08-30          35337.0
2020-08-31          34156.0
2020-09-01          43253.0
2020-09-02          39670.0
2020-09-03          36506.0
2020-09-04          50502.0
2020-09-05          44452.0
2020-09-06          31395.0
            Daily Deaths
Date
2020-08-28         971.0
2020-08-29         958.0
2020-08-30         310.0
2020-08-31         573.0
2020-09-01        1067.0
2020-09-02        1056.0
2020-09-03        1070.0
2020-09-04         965.0
2020-09-05         783.0
2020-09-06         403.0

In [69]:
# Export Data as csv to load into Power BI
covid_19.to_csv('UScovid', sep='\t')
weekly_covid.to_csv('weekly_covid', sep='\t')