# COVID-19: United States Confirmed Cases & Deaths

The following data cleaning and merging is performed to load the data into Power BI for further visualization and analysis.

In [1]:
# Packages / libraries
import os 
import numpy as np 
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

The data collected for this analysis is operated by the Johns Hopkins University Center for Systems Science and Engineering (https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series)

In [2]:
# load raw data from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series
confirmed = pd.read_csv("C:/Users/garcr/Desktop/time_series_covid19_confirmed_US.csv")
deaths = pd.read_csv("C:/Users/garcr/Desktop/time_series_covid19_deaths_US.csv")

# Confirm that the dataframes have the same number of rows (countries) and columns (dates)
# Deaths dataframe has an extra column 'Population'
print('The shape of confirmed is:', confirmed.shape)
print('The shape of deaths is:', deaths.shape)

confirmed.head()
#deaths.head()

The shape of confirmed is: (3340, 233)
The shape of deaths is: (3340, 234)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1255,1264,1266,1286,1286,1281,1284,1296,1309,1345
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,3997,4037,4069,4083,4100,4166,4199,4230,4307,4402
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,622,626,629,633,628,616,614,620,624,628
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,501,503,510,510,511,513,515,517,523,533
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,930,931,934,946,967,968,979,983,1004,1025

In [3]:
# Drop unnecessary columns
confirmed.drop(['iso2','iso3','code3','FIPS','Combined_Key'], axis=1, inplace=True)
deaths.drop(['iso2','iso3','code3','FIPS','Combined_Key'], axis=1, inplace=True)

#confirmed.head()
#deaths.head()

In [4]:
# melt the date columns into one column
confirmed2 = pd.melt(confirmed, id_vars= ['UID','Admin2','Province_State','Country_Region','Lat','Long_'], var_name=['Date'])
deaths2 = pd.melt(deaths, id_vars= ['UID','Admin2','Province_State','Country_Region','Lat','Long_','Population'], var_name=['Date'])

print('The shape of confirmed is:', confirmed2.shape)
print('The shape of deaths is:', deaths2.shape)

#confirmed2.head()

The shape of confirmed is: (741480, 8)
The shape of deaths is: (741480, 9)

In [5]:
# convert Date column into datetime objects (xxxx-xx-xx)
confirmed2['Date'] = pd.to_datetime(confirmed2['Date'])
deaths2['Date'] = pd.to_datetime(deaths2['Date'])

#confirmed2.head()

In [6]:
# Replace column headings with detailed fields
confirmed2.columns = confirmed2.columns.str.replace('value','Confirmed')
confirmed2.columns = confirmed2.columns.str.replace('Admin2','County')
deaths2.columns = deaths2.columns.str.replace('value', 'Deaths')
deaths2.columns = deaths2.columns.str.replace('Admin2','County')

# Investigate NULLs before join
print(confirmed2.isnull().sum())
print(deaths2.isnull().sum())

UID                  0
County            1332
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Date                 0
Confirmed            0
dtype: int64
UID                  0
County            1332
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Population           0
Date                 0
Deaths               0
dtype: int64

The null county values are a result of the District of Columbia, and the 5 inhabited US territories (American Samoa, Guam, Northern Mariana Islands, Puerto Rico, US Virgin Islands) not having counties, in addition to the Grand Princess and Diamond Princess cruise ships. The null county value will be filled with the 'Province_State' name of the corresponding territory or cruise ship.

In [7]:
# Join the dataframes 
covid = confirmed2.merge(deaths2[['UID','Province_State','Country_Region','Date','Deaths','Population']],
                      how='outer',
                      left_on=['UID','Province_State','Country_Region','Date'],
                      right_on=['UID','Province_State','Country_Region','Date'])

# Investigate the shape of the dataframe after the join
print('\nThe shape of confirmed is:', confirmed2.shape)
print('The shape of deaths is:', deaths2.shape)
print('The shape of the joined dataframe is:', covid.shape)

#print(covid.isnull().sum())
#covid.tail()

The shape of confirmed is: (741480, 8)
The shape of deaths is: (741480, 9)
The shape of the joined dataframe is: (741480, 10)

The joined dataframe "covid" has 10 columns because Deaths and Population has been added to the confirmed dataframe.

In [8]:
# Fill County NaN values with Province_State values (Applies only to DC, US territories, and cruise ships)
covid['County'].fillna(covid['Province_State'],inplace=True)

#covid.head()
covid.isnull().sum()

UID               0
County            0
Province_State    0
Country_Region    0
Lat               0
Long_             0
Date              0
Confirmed         0
Deaths            0
Population        0
dtype: int64

In [9]:
# Add Month-Year column
covid['Month-Year'] = covid['Date'].dt.strftime('%b-%Y')
#covid.tail()

In [10]:
# Copy df
temp = covid.copy()

# Create columns for previous date's COVID-19 cases to create daily numbers and a running total 
temp['Temp Date'] = covid['Date'] + pd.Timedelta(days=1)
temp.rename(columns={'Confirmed':'Confirmed - 1', 'Deaths':'Deaths - 1', 'Date':'Date - 1'}, inplace=True)

# Perform left join on DFs
covid_19 = covid.merge(temp[['UID','Province_State','Country_Region','Confirmed - 1','Deaths - 1',
                             'Temp Date','Date - 1']], how='left', 
                       left_on=['UID','Province_State','Country_Region','Date'],
                       right_on=['UID','Province_State','Country_Region','Temp Date'])
print(covid_19.shape)
#covid_19.head()

(741480, 15)

In [11]:
# Calculate the daily numbers for confirmed cases & deaths (current aggregate - previous aggregate = daily confirmed)
covid_19['Daily Confirmed'] = covid_19['Confirmed'] - covid_19['Confirmed - 1']
covid_19['Daily Deaths'] = covid_19['Deaths'] - covid_19['Deaths - 1']

print(covid_19.shape)
#covid_19.head()

(741480, 17)

In [12]:
# Include daily numbers for the first day of data where there is no previous date available (2020-01-22)
covid_19['Daily Confirmed'].loc[covid_19['Date'] == '2020-01-22'] = covid_19['Confirmed']
covid_19['Daily Deaths'].loc[covid_19['Date'] == '2020-01-22'] = covid_19['Deaths']

# Delete unnecessary columns
del covid_19['Confirmed - 1'] 
del covid_19['Deaths - 1']
del covid_19['Temp Date']
del covid_19['Date - 1']

covid_19.head()

,UID,County,Province_State,Country_Region,Lat,Long_,Date,Confirmed,Deaths,Population,Month-Year,Daily Confirmed,Daily Deaths
0,84001001,Autauga,Alabama,US,32.539527,-86.644082,2020-01-22,0,0,55869,Jan-2020,0.0,0.0
1,84001003,Baldwin,Alabama,US,30.727750,-87.722071,2020-01-22,0,0,223234,Jan-2020,0.0,0.0
2,84001005,Barbour,Alabama,US,31.868263,-85.387129,2020-01-22,0,0,24686,Jan-2020,0.0,0.0
3,84001007,Bibb,Alabama,US,32.996421,-87.125115,2020-01-22,0,0,22394,Jan-2020,0.0,0.0
4,84001009,Blount,Alabama,US,33.982109,-86.567906,2020-01-22,0,0,57826,Jan-2020,0.0,0.0

In [13]:
# calculate weekly sum by state (Monday-Sunday)
weekly_covid = covid_19.groupby(['Province_State', covid_19['Date'].dt.strftime('%W')]).agg({'Daily Confirmed':'sum','Daily Deaths':'sum'}).reset_index()

# replace 'Date' with 'Week Number' of the year 
weekly_covid.columns = weekly_covid.columns.str.replace('Date','Week Number')
weekly_covid.columns = weekly_covid.columns.str.replace('Daily Confirmed','Weekly Confirmed')
weekly_covid.columns = weekly_covid.columns.str.replace('Daily Deaths','Weekly Deaths')

# view weekly numbers by state
weekly_covid[weekly_covid['Week Number'] == weekly_covid['Week Number'].max()]

                Province_State Week Number  Weekly Confirmed  Weekly Deaths
31                     Alabama          34           10175.0          149.0
63                      Alaska          34             485.0            5.0
95              American Samoa          34               0.0            0.0
127                    Arizona          34            3558.0          259.0
159                   Arkansas          34            4282.0           97.0
191                 California          34           36671.0          784.0
223                   Colorado          34            2080.0           24.0
255                Connecticut          34             976.0            5.0
287                   Delaware          34             448.0            4.0
319           Diamond Princess          34               0.0            0.0
351       District of Columbia          34             369.0            2.0
383                    Florida          34           21015.0          794.0
415                    Georgia          34           15024.0          472.0
447             Grand Princess          34               0.0            0.0
479                       Guam          34             520.0            4.0
511                     Hawaii          34            1739.0           16.0
543                      Idaho          34            2013.0           52.0
575                   Illinois          34           13464.0          139.0
607                    Indiana          34            7381.0           71.0
639                       Iowa          34            8153.0           76.0
671                     Kansas          34            4103.0           23.0
703                   Kentucky          34            4965.0           57.0
735                  Louisiana          34            4924.0          185.0
767                      Maine          34             178.0            1.0
799                   Maryland          34            3689.0           61.0
831              Massachusetts          34            2869.0          128.0
863                   Michigan          34            5718.0           89.0
895                  Minnesota          34            5605.0           52.0
927                Mississippi          34            4782.0          201.0
959                   Missouri          34            8691.0           80.0
991                    Montana          34             911.0           14.0
1023                  Nebraska          34            2157.0           14.0
1055                    Nevada          34            3307.0          105.0
1087             New Hampshire          34             147.0            3.0
1119                New Jersey          34            2117.0           -9.0
1151                New Mexico          34             887.0           25.0
1183                  New York          34            4363.0           68.0
1215            North Carolina          34           11014.0          161.0
1247              North Dakota          34            1826.0            6.0
1279  Northern Mariana Islands          34               2.0            0.0
1311                      Ohio          34            7458.0          151.0
1343                  Oklahoma          34            4954.0           73.0
1375                    Oregon          34            1617.0           41.0
1407              Pennsylvania          34            4455.0          101.0
1439               Puerto Rico          34            2952.0           44.0
1471              Rhode Island          34             661.0           16.0
1503            South Carolina          34            6336.0          205.0
1535              South Dakota          34            2046.0            6.0
1567                 Tennessee          34            9178.0          180.0
1599                     Texas          34           35535.0          987.0
1631                      Utah          34            2739.0           22.0
1663                   Vermont          34              59.0            0.0
1695            Virgin Islands          34             149.0            3.0
1727                  Virginia          34            6769.0          102.0
1759                Washington          34            3308.0           42.0
1791             West Virginia          34             836.0           35.0
1823                 Wisconsin          34            4875.0           41.0
1855                   Wyoming          34             251.0            0.0

In [14]:
# calculate the weekly percentage change in confirmed cases and deaths for each state
weekly_change = weekly_covid.groupby(['Province_State', 'Week Number']).agg({'Weekly Confirmed':'sum','Weekly Deaths':'sum'}).pct_change().reset_index()
weekly_change

     Province_State Week Number  Weekly Confirmed  Weekly Deaths
0           Alabama          03               NaN            NaN
1           Alabama          04               NaN            NaN
2           Alabama          05               NaN            NaN
3           Alabama          06               NaN            NaN
4           Alabama          07               NaN            NaN
...             ...         ...               ...            ...
1851        Wyoming          30         -0.045845            inf
1852        Wyoming          31         -0.273273            1.0
1853        Wyoming          32         -0.024793            0.0
1854        Wyoming          33          0.237288            2.5
1855        Wyoming          34         -0.140411           -1.0

[1856 rows x 4 columns]

In [15]:
# add the weekly percentage change calculated above to the weekly_covid dataframe
weekly_covid[['Weekly Confirmed % Change', 'Weekly Deaths % Change']] = weekly_change[['Weekly Confirmed','Weekly Deaths']]

# replace NaN with 0
weekly_covid.replace(np.nan, 0, inplace=True)

weekly_covid

,Province_State,Week Number,Weekly Confirmed,Weekly Deaths,Weekly Confirmed % Change,Weekly Deaths % Change
0,Alabama,03,0.0,0.0,0.000000,0.0
1,Alabama,04,0.0,0.0,0.000000,0.0
2,Alabama,05,0.0,0.0,0.000000,0.0
3,Alabama,06,0.0,0.0,0.000000,0.0
4,Alabama,07,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...
1851,Wyoming,30,333.0,1.0,-0.045845,inf
1852,Wyoming,31,242.0,2.0,-0.273273,1.0
1853,Wyoming,32,236.0,2.0,-0.024793,0.0
1854,Wyoming,33,292.0,7.0,0.237288,2.5
1855,Wyoming,34,251.0,0.0,-0.140411,-1.0

In [16]:
# check the most recent daily confirmed cases
daily_sum = covid_19.groupby(['Date']).agg({'Daily Confirmed': 'sum'})
print(daily_sum.tail(10))

# check the most recent daily deaths 
daily_deaths = covid_19.groupby(['Date']).agg({'Daily Deaths': 'sum'})
print(daily_deaths.tail(10))

            Daily Confirmed
Date
2020-08-21          48623.0
2020-08-22          44600.0
2020-08-23          34575.0
2020-08-24          37891.0
2020-08-25          38174.0
2020-08-26          44109.0
2020-08-27          45966.0
2020-08-28          46156.0
2020-08-29          47153.0
2020-08-30          35337.0
            Daily Deaths
Date
2020-08-21        1112.0
2020-08-22         983.0
2020-08-23         450.0
2020-08-24         445.0
2020-08-25        1241.0
2020-08-26        1222.0
2020-08-27        1116.0
2020-08-28         976.0
2020-08-29         961.0
2020-08-30         305.0

In [17]:
# Export Data as csv to load into Power BI
covid_19.to_csv('UScovid', sep='\t')
weekly_covid.to_csv('weekly_covid', sep='\t')